@import './default.less';

.nav-left{
    height: calc(100vh);
    background: @colorR;
}
.container{
    background-color: @colorV;
}
.content{
    background-color: @colorM;
    margin: 24px;
    font-size: 14px;
}